apps/base/n8n/workflows/groupme-send-message.json
{
    "name": "GroupMe - Send Message",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "groupme-send-message",
                "authentication": "basicAuth",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "groupme-send-message"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.groupme.com/v3/groups/{{ $json.body.group_id }}/messages?token={{ $env.GROUPME_TOKEN }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ message: { source_guid: $now.toMillis().toString(), text: $json.body.message_text } }) }}",
                "options": {}
            },
            "id": "http-request",
            "name": "Send Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ result: 'Message sent', response: $json }) }}",
                "options": {}
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                750,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Send Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Message": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true
}