apps/base/n8n/workflows/groupme-list-groups.json
{
    "name": "GroupMe - List Groups",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "groupme-list-groups",
                "authentication": "basicAuth",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "groupme-list-groups"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.groupme.com/v3/groups?token={{ $env.GROUPME_TOKEN }}",
                "options": {}
            },
            "id": "http-request",
            "name": "Get Groups",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                750,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Get Groups",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Groups": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true
}